html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}
p {
  font-family: "Nunito Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Sarabun", sans-serif;
  line-height: 1.5;
}

body {
  /* background: url("") no-repeat center; */
  background-color: #1c2230;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
#sign-in {
  margin-top: 100px !important;
  background-color: #1c2230;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: -1px -1px 20px -5px rgba(0, 0, 0, 0.8);
  margin-bottom: 20%;
  border-radius: 5px;
  padding: 2% 5% 5% 5%;
  z-index: 2;
  position: relative;
}

#sign-in h1 {
  font-size: xx-large;
  padding-bottom: 2%;
}

#sign-in form input {
  border-radius: 3rem;
  border: none;
  padding: 2%;
  margin-right: 4%;
}

#sign-in form input[type="email"] {
  width: 60%;
  padding-left: 3%;
  margin-top: 5%;
  color: #000;
}

#sign-in form input[type="submit"] {
  width: 30%;
  background: #3eb2d9;
}

footer {
  width: 100%;
  background: #232b40;
  padding: 12% 5% 3% 5%;
  margin-top: -18%;
}

#footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 90%;
  margin: 0 auto;
  grid-column-gap: 1%;
}

.footer-item ul li {
  display: block;
  text-decoration: none;
}

#copyright {
  text-align: center;
  background-color: #1c2230;
  padding: 1%;
}

@media only screen and (max-width: 750px) {
  #sign-in {
    max-width: 70%;
  }

  #sign-in form input[type="email"] {
    width: 50%;
    margin-top: 5%;
  }

  #sign-in form input[type="submit"] {
    width: 40%;
  }

  #footer {
    grid-template-columns: 33% 33% 33%;
    max-width: 95%;
  }

  .footer-item:first-child {
    display: none;
  }
}

@media only screen and (max-width: 635px) {
  #sign-in {
    margin-top: 30%;
  }
}

@media only screen and (max-width: 530px) {
  #sign-in form input[type="email"] {
    width: 100%;
    margin-bottom: 3%;
  }

  #sign-in form input[type="submit"] {
    width: 100%;
  }

  footer {
    padding: 25% 5% 3% 5%;
    margin-top: -28%;
  }

  #footer {
    display: grid;
    grid-template-columns: 100%;
    grid-row: 100% 100% 100% 100%;
    grid-gap: 10%;
    margin-bottom: 15%;
  }
}
