.main {
  background-color: #1c2230;
  color: white;

  height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
}
.main_details {
  background-color: #1c2230;
  color: white;
  box-shadow: -1px -1px 20px -5px rgba(0, 0, 0, 0.8);
  height: 20vh;
  border-radius: 3rem;
  border-color: aliceblue;
  display: flex;
  justify-content: center;
}
.innerContent {
  width: 70%;
}
.item {
  background-color: #1c2230;
  cursor: pointer;
  padding: 24px;
  margin-top: 24px;
  display: grid;
  border-radius: 3rem;
  grid-template-columns: 1fr 11fr;
  box-shadow: -1px -1px 20px -5px rgba(0, 0, 0, 0.8);
}
.rightItem {
  margin-left: 24px;
}
.img_details {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.imgContainer {
  margin: auto;
}
.thankyou {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  padding-left: 12px;
  color: #181c20;
  background-color: white;
}
.wrapper {
  height: 100vh;
  background-color: #001101;
  position: fixed;
  width: 100%;
  z-index: 1;
}
